@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

p {
  font-size: 1.8rem; }

a {
  text-decoration: none; }
  a:hover {
    color: #FFFFFF; }

img {
  width: 100%; }

body {
  background-color: #FFFFFF;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

.iconos {
  width: 30px; }

.hidden {
  display: none; }

/*---------------SVG----------------*/
.svg-icon {
  width: 2em;
  height: 2em; }

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #FFFFFF; }

.svg-icon circle {
  stroke: #FFFFFF;
  stroke-width: 1; }

.nav-1 {
  background-color: #0D1B2A;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 2rem 2rem; }
  .nav-1 .nav-logo {
    font-size: 3rem;
    text-transform: uppercase; }
    .nav-1 .nav-logo a {
      color: #FFFFFF; }
      @media (max-width: 768px) {
        .nav-1 .nav-logo a .ack {
          display: none; } }
  .nav-1 .nav-ico {
    display: flex;
    gap: 1rem; }
    .nav-1 .nav-ico p {
      color: #FFFFFF; }
    .nav-1 .nav-ico button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.80rem;
      width: 3rem;
      height: 3rem;
      border: none;
      background: transparent;
      align-items: center; }
      .nav-1 .nav-ico button div {
        background-color: #FFFFFF;
        height: 0.2rem;
        width: 100%;
        border-radius: 0.5rem;
        transition: all 0.5s;
        transform-origin: left; }
        @media (min-width: 768px) {
          .nav-1 .nav-ico button div {
            display: none; } }
      .nav-1 .nav-ico button:hover div:first-child {
        transform: rotate(45deg); }
      .nav-1 .nav-ico button:hover div:nth-child(2) {
        opacity: 0; }
      .nav-1 .nav-ico button:hover div:last-child {
        transform: rotate(-45deg); }

.nav-2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  background-color: #415A77;
  padding: 2rem;
  height: 3rem; }
  .nav-2 a {
    color: #FFFFFF;
    font-size: 2rem; }
    @media (max-width: 768px) {
      .nav-2 a {
        padding: 0.5rem; } }
    .nav-2 a:hover {
      border-bottom: solid 1px #FFFFFF; }
  @media (max-width: 768px) {
    .nav-2 {
      flex-direction: column;
      text-align: center;
      height: 100%;
      width: 100%; } }

.hidden {
  display: none; }

.banner {
  background-image: url("../../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 30rem;
  color: #FFFFFF;
  text-align: center;
  display: grid;
  place-content: center; }

.btn {
  background-color: #0D1B2A;
  color: #FFFFFF;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  margin: 1rem; }

.btn-carrito {
  background-color: transparent;
  padding: 0.5rem;
  border: solid 1px #000;
  border-radius: 0.5rem; }

.seccion-ropa-hombres {
  background-color: #FFFFFF;
  color: #000;
  width: 100%;
  text-align: center; }
  .seccion-ropa-hombres .seccion-titulo {
    text-align: center;
    padding: 1rem; }
  .seccion-ropa-hombres .seccion-productos {
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    margin: 2rem 2rem 0 2rem; }
    .seccion-ropa-hombres .seccion-productos img {
      width: 100%; }
    .seccion-ropa-hombres .seccion-productos .seccion-producto {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      column-gap: 2rem;
      gap: 2rem; }
      @media (min-width: 768px) {
        .seccion-ropa-hombres .seccion-productos .seccion-producto {
          grid-template-columns: repeat(3, 1fr); } }
      .seccion-ropa-hombres .seccion-productos .seccion-producto .producto {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 0 1px 2rem #868686; }
        .seccion-ropa-hombres .seccion-productos .seccion-producto .producto figure {
          overflow: hidden; }
          .seccion-ropa-hombres .seccion-productos .seccion-producto .producto figure img {
            transition: all .5s; }
        .seccion-ropa-hombres .seccion-productos .seccion-producto .producto:hover img {
          transform: scale(1.2); }
        .seccion-ropa-hombres .seccion-productos .seccion-producto .producto .producto-descripcion {
          padding: 0.5rem; }
          .seccion-ropa-hombres .seccion-productos .seccion-producto .producto .producto-descripcion h2 {
            padding: 0.5rem; }
          .seccion-ropa-hombres .seccion-productos .seccion-producto .producto .producto-descripcion p {
            padding: 0.5rem; }

.seccion-ropa-mujeres {
  background-color: #FFFFFF; }
  .seccion-ropa-mujeres .seccion-titulo {
    background-color: #d951ae;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem 0; }
  .seccion-ropa-mujeres .seccion-productos-mujeres {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin: 2rem 2rem 0 2rem; }
    @media (max-width: 768px) {
      .seccion-ropa-mujeres .seccion-productos-mujeres {
        flex-direction: column; } }
    .seccion-ropa-mujeres .seccion-productos-mujeres .producto-mujeres {
      background-image: url(../../img/1-m.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 50rem;
      height: 50rem;
      border-radius: 2rem; }
      .seccion-ropa-mujeres .seccion-productos-mujeres .producto-mujeres .producto-descripcion-mujeres {
        height: 100%;
        border-radius: 2rem; }
        .seccion-ropa-mujeres .seccion-productos-mujeres .producto-mujeres .producto-descripcion-mujeres:hover {
          background-color: rgba(217, 81, 174, 0.5); }
    .seccion-ropa-mujeres .seccion-productos-mujeres .portada-mujeres {
      background-image: url(https://images.pexels.com/photos/9892919/pexels-photo-9892919.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 0.5rem;
      overflow: hidden; }
      .seccion-ropa-mujeres .seccion-productos-mujeres .portada-mujeres .portada-contenido {
        background-color: rgba(217, 81, 174, 0.4);
        color: #FFFFFF;
        padding: 1rem;
        text-align: center;
        height: 100%; }
        .seccion-ropa-mujeres .seccion-productos-mujeres .portada-mujeres .portada-contenido h2 {
          font-size: 3rem; }
        .seccion-ropa-mujeres .seccion-productos-mujeres .portada-mujeres .portada-contenido h3 {
          font-size: 2rem; }

.cart-contenedor {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  right: 11rem;
  top: 6rem;
  padding: 1rem;
  border-radius: 2rem;
  z-index: 1; }
  .cart-contenedor .cart-productos {
    display: flex;
    text-align: center;
    padding: 1rem;
    gap: 2rem; }
    .cart-contenedor .cart-productos .cart-imagen img {
      width: 100px; }
    .cart-contenedor .cart-productos .cart-imagen p {
      font-size: 1rem; }
    .cart-contenedor .cart-productos .cart-nombre p {
      font-size: 1rem; }
    .cart-contenedor .cart-productos .cart-precio p {
      font-size: 1rem; }
    .cart-contenedor .cart-productos .cart-cantidad p {
      font-size: 1rem; }
