@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

p {
  font-size: 1.8rem; }

a {
  text-decoration: none; }
  a:hover {
    color: #FFFFFF; }

img {
  width: 100%; }

body {
  background-color: #1b263b;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

.iconos {
  width: 30px; }

/*---------------SVG----------------*/
.svg-icon {
  width: 2em;
  height: 2em; }

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #FFFFFF; }

.svg-icon circle {
  stroke: #FFFFFF;
  stroke-width: 1; }

.nav-1 {
  background-color: #0D1B2A;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 2rem 2rem; }
  .nav-1 .nav-logo {
    font-size: 3rem;
    text-transform: uppercase; }
    .nav-1 .nav-logo a {
      color: #FFFFFF; }
      @media (max-width: 768px) {
        .nav-1 .nav-logo a .ack {
          display: none; } }
  .nav-1 .nav-ico {
    display: flex;
    gap: 1rem; }
    .nav-1 .nav-ico p {
      color: #FFFFFF; }
    .nav-1 .nav-ico button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.80rem;
      width: 3rem;
      height: 3rem;
      border: none;
      background: transparent;
      align-items: center; }
      .nav-1 .nav-ico button div {
        background-color: #FFFFFF;
        height: 0.2rem;
        width: 100%;
        border-radius: 0.5rem;
        transition: all 0.5s;
        transform-origin: left; }
        @media (min-width: 768px) {
          .nav-1 .nav-ico button div {
            display: none; } }
      .nav-1 .nav-ico button:hover div:first-child {
        transform: rotate(45deg); }
      .nav-1 .nav-ico button:hover div:nth-child(2) {
        opacity: 0; }
      .nav-1 .nav-ico button:hover div:last-child {
        transform: rotate(-45deg); }

.nav-2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  background-color: #415A77;
  padding: 2rem;
  height: 3rem; }
  .nav-2 a {
    color: #FFFFFF;
    font-size: 2rem; }
    @media (max-width: 768px) {
      .nav-2 a {
        padding: 0.5rem; } }
    .nav-2 a:hover {
      border-bottom: solid 1px #FFFFFF; }
  @media (max-width: 768px) {
    .nav-2 {
      flex-direction: column;
      text-align: center;
      height: 100%;
      width: 20rem; } }

.hidden {
  display: none; }

.banner {
  background-image: url("../../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 30rem;
  color: #FFFFFF;
  text-align: center;
  display: grid;
  place-content: center; }

main .seccion-ropa-hombres {
  background-color: #FFFFFF;
  margin-bottom: 1rem;
  color: #1b263b;
  width: 100%;
  text-align: center; }
  main .seccion-ropa-hombres .seccion-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    margin: 3rem; }
    main .seccion-ropa-hombres .seccion-productos img {
      width: 60%; }
    main .seccion-ropa-hombres .seccion-productos .seccion-titulo {
      text-align: center;
      padding: 0.5rem; }
    main .seccion-ropa-hombres .seccion-productos .seccion-producto {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border: solid 1px #000;
      padding: 0.5rem; }
      main .seccion-ropa-hombres .seccion-productos .seccion-producto .titulo-des {
        display: flex;
        flex-direction: column; }

.btn {
  background-color: #0D1B2A;
  color: #FFFFFF;
  padding: 1rem;
  border: none;
  border-radius: 1rem; }

.botones {
  display: flex; }

.btn-stock {
  background-color: #0D1B2A;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem; }
