.btn{
    background-color: $primario;
    color: $blanco;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
}

.botones {
    display: flex;
}

.btn-stock{
    background-color: $primario;
    color: $blanco;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
}