.seccion-ropa-mujeres{
    background-image: url(../../img/fondowoman.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    height: 100%;
    
}