.seccion-ropa-hombres{
    background-color: $blanco;
    margin-bottom: 1rem;
    color: $negro;
    width: 100%;
    text-align: center;
    .seccion-productos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        margin:3rem;
        img {width: 100%;}

        .seccion-titulo{
            text-align: center;
            padding: 0.5rem;
        }

        .seccion-producto{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 2rem;
            gap: 2rem;

            .producto{
                background-color: $blanco;
                display: flex;
                flex-direction: column;
                text-align: center;
                box-shadow:0 1px 2rem $gris;

                .producto-descripcion{
                    padding: 0.5rem;
                }
            }
    }
    
}
}